<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/reset.css">
    <link rel="stylesheet" href="CSS/style.css">
    <script src="js/vue.min.js"></script>
    <title>Workload</title>
</head>

<body>
    <div class="top_bar">
        <h1>workload</h1>
    </div>
    <div id="app">
        <header>
            <form action="">
                <div class="create-item">
                    <label for="ticket_no">Ticket Number</label>
                    <input v-model="ticket_num" type="number" id="ticket_no" max="50000000" min="10000000" placeholder="Ticket Number" required>

                </div>
                <div class="create-item">
                    <label for="call_driver">Call Driver</label>
                    <select v-model="call_driver" id="call_drive r" required>
                <option disabled selected>Call Driver</option>
                <option value="quote">Quote</option>
                <option value="online">Online/Website</option>
                <option value="acc">Account</option>
                <option value="product">Product</option>
                <option value="complaint">Complaint</option>
            </select>
                </div>
                <div class="create-item">
                    <label for="store">Store</label>
                    <textarea v-model="store" style="resize: none;" id="store" cols="20" rows="1" placeholder="Enter Branch..."></textarea required>
                </div>
                <div class="create-item">
                    <label for="action">Action</label>
                    <select v-model="action" name="" id="action" required>
                <option disabled selected>Select Action...</option>
                <option value="call">Call</option>
                <option value="email">Email</option>
            </select>
                </div>
                <div class="create-item">
                    <label for="add-action">Additional Action</label>
                    <select v-model="add_action" id="add-action" required>
                <option value="none">None</option>
                <option value="follow_up">Follow up</option>
                <option value="approval">Approval</option>
                <option value="reassign">Reassign</option>
            </select>
                </div>
                <div class="create-item">
                    <label for="outcome">Outcome</label>
                    <select v-model="outcome" id="outcome" required>
                <option disabled selected>Select Outcome...</option>
                <option value="resolved">Resolved</option>
                <option value="in_progress">In Progress</option>
                <option value="escalate">Escalate</option>
            </select>
                </div>
                <div class="create-item">
                    <input @click="count++" type="button" class="button" value="Log New Ticket" onclick="grid()">
                </div>
            </form>
        </header>
        <p class="counter">Ticket count: <span>{{count}}</span></p>
        <ticket></ticket>
    </div>
    <template>
        <div class="ticket">
            <table class="ticket_grid">
                <tr>
                    <td>Ticket Number</td>
                    <td>Call Driver</td>
                    <td>Store</td>
                    <td>Action</td>
                    <td>Additional Action</td>
                    <td>Outcome</td>
                    <td>date</td>
                    <td class="delete">Delete</td>
                </tr>
                <tr>
                    <td>{{ticket_num}}</td>
                    <td>{{call_driver}}</td>
                    <td>{{store}}</td>
                    <td>{{action}}</td>
                    <td>{{add_action}}</td>
                    <td>{{outcome}}</td>
                    <td id="time"></td>
                    <td class="edit">edit</td>
                </tr>
            </table>
        </div>
    </template>
</body>
<script src="js/main.js"></script>

</html>